body {
  font-family: Arial;
  background: #f4fff7;
  color: #0a6b3c;
  text-align: center;
}

button {
  background: #0a6b3c;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.catalogo {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.item {
  border: 1px solid #0a6b3c;
  padding: 10px;
}
