body {
    font-family: Arial, sans-serif;
    background: #e6f4ee;
    color: #1f7a4d;
    padding: 40px;
}

.center {
    text-align: center;
}

.btn {
    background: #1f7a4d;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}

input, button {
    padding: 10px;
    margin: 10px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
}

.logo {
    width: 150px;
    margin-top: 20px;
}
