body {
  font-family: Arial;
  background: #f4fff6;
  color: #0b6b2f;
  text-align: center;
}

button {
  background: #0b6b2f;
  color: white;
  padding: 12px 20px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background: #129b4a;
}

input {
  padding: 10px;
  margin: 8px;
}
