body {
  font-family: Arial;
  padding: 20px;
  background: #f5f5f5;
}

h1 {
  color: #f4b400;
}

.catalogo {
  display: flex;
  gap: 20px;
}

.item {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.item img {
  width: 120px;
}
